:root {
    font-size: 14pt;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }

  h1 {
    background-color: #ff9900;
    color: white;
    padding: 15px;
    text-align: l;
    margin: 0;
  }
  /* コンテンツ全体の調整 */
.content {
  padding: 40px; 
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .breadcrumb {
    padding: 0;
    margin-bottom: 2rem;
    list-style: none;
  }
  .breadcrumb li {
    display: inline;
  }
  .breadcrumb li::after {
    content: " > ";
  }
  .breadcrumb li:nth-last-child()::after {
    content: "";
  }
  .messages {
    color: red;
    list-style-type: none;
    padding: 0;
  }

  .messages .error {
    color: red;
  }

  .messages .info {
    color: blue;
  }