<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日付選択後のページ</title>
</head>
<body>
    <h1>{{ day }}日のデータ</h1>
    <ul>
        <ul style="list-style-position: inside; margin: 0; padding: 0;">
          <li><a href="diary.html">日記</a></li>
          <li><a href="Today's Mood.html">今日の気分</a></li>
          <li><a href="meal.html">食べたもの</a></li>
          <li><a href="ToDo.html">ToDoリスト</a></li>
          <li><a href="sleep.html">起床・就寝/睡眠時間</a></li>
          <li><a href="weight.html">体重</a></li>
      </ul>
    </ul>
</body>
</html>
