<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diary.css') }}">
    <title>{{ day }}の日記編集</title>
</head>
<body>
    <h1>{{ day }}日の日記を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('day_data.day_data', data=day)}}">{{ day }}日のデータ</a></li>
        <li><a href="{{ url_for('diary.diary', day=day) }}">{{ day }}日の日記</a></li>
        <li>日記編集</li>
    </ul>
    <div class="link-list">
    <h2>日記を登録</h2>
    </div>

    <div class="content">
    <form action="{{ url_for('diary.diary', day=day) }}" method="post">
        <label for="textarea">日記編集:</label><br>
        <textarea id="diary" name="diary" rows="10" cols="50"></textarea><br><br>
        <button type="submit">保存</button>
    </form>
    </div>
</body>

</html>