<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カレンダー</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            width: 14.28%; /* 7列なので100%を7で割る */
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

    <!-- 棒グラフ用 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <h1>{{ year }}年{{ month }}月のカレンダー</h1>
    <table>
        <thead>
            <tr>
                <th>日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
            </tr>
        </thead>
        <tbody>
            {% for week in month_days %}
                <tr>
                    {% for day in week %}
                        {% if day == 0 %}
                        <td></td>
                        {% else %}
                        <!--routesフォルダの中のhome.pyで定義されているday_dataを呼び出している。
                        date = day で　{{ day }}　の数字を取得しdataに格納-->
                        <td><a href="{{ url_for('day_data.day_data', data=day) }}">{{ day }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

     <!-- 棒グラフ用 -->
    <!-- PythonデータをJavaScriptに渡す -->
    <div>
        <h2>睡眠時間</h2>
        <canvas id="barChart" width="400" height="200"></canvas>
    </div>
    <script>
        const sleepData = JSON.parse('{{ sleepdata | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='bar-chart.js') }}"></script>

</body>
</html>