<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カレンダー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BaseStyle.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            width: 14.28%; /* 7列なので100%を7で割る */
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>{{ year }}年{{ month }}月のカレンダー</h1>
    <table>
        <thead>
            <tr>
                <th>日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
            </tr>
        </thead>
        <tbody>
            {% for week in month_days %}
                <tr>
                    {% for day in week %}
                        {% if day == 0 %}
                        <td></td>
                        {% else %}
                        <!--routesフォルダの中のhome.pyで定義されているday_dataを呼び出している。
                        date = day で　{{ day }}　の数字を取得しdataに格納-->
                        <td><a href="{{ url_for('day_data.day_data', data=day) }}">{{ day }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <canvas id="weightChart" width="200" height="100"></canvas>

    <script>
        var days = {{ days | tojson }};
        var weights = {{ weights | tojson }};

        // Weightsのグラフ作成
        var ctx = document.getElementById('weightChart').getContext('2d');
        var weightChart = new Chart(ctx, {
            type: 'line',  // 折れ線グラフ
            data: {
                labels: days,  // X軸に日付を設定
                datasets: [{
                    label: '体重',
                    data: weights,  // Y軸に体重を設定
                    borderColor: 'rgba(75, 192, 192, 1)',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '日付'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: '体重 (kg)'
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>