<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ day }}日の睡眠</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='BaseStyle.css') }}">
</head>
<body>
    <h1>{{ day }}日の{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('day_data.day_data', data=day)}}">{{ day }}日のデータ</a></li>
        <li><a href="{{ url_for('sleep.sleep', day=day)}}">睡眠</a></li>
    </ul>
        <li><a href="{{ url_for('sleep.sleep', day=day) }}">睡眠データ</a></li>
    </ul>
    <a href="{{ url_for('sleep.edit', sleep=sleep, day=day) }}">睡眠データを記録する</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>昨夜の就寝時間</th>
                <th>起床時間</th>
                <th>睡眠時間</th>
            </tr>
        </thead>
        <tbody>
            {% if items %}
                {% for sleep in items %}
                <tr>
                    <td><a href="{{ url_for('sleep.edit', sleep=sleep, day=day) }}">編集</a></td>
                    <td>{{ sleep.gotobed.strftime("%H:%M") }}</td>
                    <td>{{ sleep.wakeup.strftime("%H:%M") }}</td>
                    <td>{{ sleep.sleeptime }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">データ未記入</de-ta></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>